@import "../../../bootswatch/_variables.scss";
#root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  padding: 5px;
  font-size: 32px;
  color: $brand-danger;
}
