@media (min-width: 768px) and (min-height: 560px) {
  #root {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    min-height: 150px;
    background-color: transparent;
  }
  #rootHeading {
    flex-shrink: 0;
  }
  #rootList {
    overflow-y: auto;
  }
}
